{% extends 'base.html.twig' %}

{% block content %}
	<div class="row list">
		<h1>Lista de Usuários
			<a href="{{path('form_usuario')}}" class="btn btn-primary col-sm-2">Adicionar</a>
		</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				{% for usuario in list %}
					<tr>
						<th scope="row">{{usuario.id}}</th>						
						<td scope="row">{{usuario.nomeUsuario}}</td>			
						<td>
							<a href="/usuario/{{usuario.id}}" class="btn btn-secondary">Editar</a>
							<a href="/usuario/{{usuario.id}}/excluir" class="btn btn-danger">Excluir</a>
						</td>			
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
