{% extends 'base.html.twig' %}

{% block content %}
	<div class="list">
		<h1> Quadro Societário | {{empresa.razaoSocial}} 
			<a href="{{path('list_empresa')}}" class="btn btn-primary col-sm-2 ">Voltar</a>
		</h1>
		<div class="container">
			<div class="row table-header">
				<div class="col-sm-2"> CPF </div>
				<div class="col-sm-3"> Nome do Sócio </div>
				<div class="col-sm-3"> Endereço </div>
				<div class="col-sm-2"> Telefone </div>
				<div class="col-sm-2"> Ações </div>
			</div>
			{% for socio in list %}
			<div class="row table-content">
				<div class="col-sm-2 cpf"> {{socio.cpf}} </div>
				<div class="col-sm-3"> {{socio.nome}}  </div>
				<div class="col-sm-3"> {{socio.endereco}}  </div>
				<div class="col-sm-2 telefone"> {{socio.telefone}}  </div>
				<div class="col-sm-2">
					<a href="{{ path('remover_socio_empresa', {idSocio: socio.id, idEmpresa: empresa.id}) }}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block user_javascripts %}
	<script src="{{asset('js/mask/socio.list.mask.js')}}"></script>
{% endblock %}